@mixin stripes {
  background-image: linear-gradient(
    45deg,
    $red 18.75%,
    $white 18.75%,
    $white 50%,
    $red 50%,
    $red 68.75%,
    $white 68.75%,
    $white 100%
  );
  background-size: 56.57px 56.57px;
}
.road {
  background-color: $medblue;
  width: 90%;
  height: 100%;
  left: 5%;
}

.stripe {
  border-left: $borderWidth dashed $white;
  height: 100%;
  width: 10%;
  left: 50%;
}

@mixin arrow {
  cursor: pointer;
  border: solid;
  border-color: $white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
}
